body {
    background-color: #308e3f;
    display: flex;
    justify-content: center; /* Menengahkan secara horizontal */
    align-items: center; /* Menengahkan secara vertikal */
    height: 100vh; /* Menggunakan tinggi viewport */
    margin: 0;
}

#text {
    background-color: #0f2c0c;
    color: #ffffff;
    padding: 10px;
    display: flex;  
    text-align: center;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0;
    padding: 10px;
}

#controls,
#stats{
    border: 1px solid #39b361;
    color: #0a0a23;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
      
}

#monsterStats{
    border: 1px solid #0a0a23;
    color: #ffffff;
    padding: 5px;
    background-color: #c70d0d;
    display: none;
}

.stat {
    padding-right: 10px;
}

button {
        cursor: pointer;
        color: #0a0a23;
        background-color: #1e692c;
        background-image: linear-gradient(#3db028, #39e13e);
        border: 3px solid #17a41e;
        margin-left: auto;
        margin-right: auto;
    }